body{
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
select{
    border-radius: 5px;
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    touch-action: none;
	font-size: 20px;
}
button {
	border-radius: 5px;
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 10px;
    margin: 1px 5px;
    cursor: pointer;
    touch-action: none;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 70px;
}
button:click {
    background-color: #4CAF50;
    color: white;
}

.onecharbtn{
	width: 80px;
}
.active {
    background-color: grey;
    color: white;
}

.section{
	border: 1px solid lightgrey;
	padding: 8px 1px 1px 8px;
	margin: 9px 2px;
	width: 98%;
	position: relative;
}

div{
	display: inline-block;
}
.gobo{
	display: block;
}
.color>div{
	height: 100px;
	width: 100px;
	border: 1px solid lightgrey;
	font-size: 20px;
	margin: 5px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 380px;
  border-radius: 5px;
  vertical-align:middle;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 70px;
  background: white;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background: grey;
  -webkit-appearance: none;
}
.container{
	position: relative;
}
.nmsection{
	font-size: 15px;
	position: absolute;
	top: -10px;
	background-color: black;
	padding: 1px 5px;
}
.overlay{
	position: absolute;
	left: 40px;
	top: 210px;
	width: 90%;
	padding: 12px 12px;
	z-index: 10;
	background-color: black;
	display: none;
}
.container>input{
	margin-right: 10px;
	margin-bottom: 10px;
}
.container>label{
	position: absolute;
	white-space: nowrap;
	left: 100px;
	top: 20px;
	color: dimgrey;
	pointer-events: none;
	z-index: 11;
}