body{
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
	border-radius: 5px;
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    touch-action: none;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 80px;
}
button:click {
    background-color: #4CAF50;
    color: white;
}

#color{
    border: 1px solid lightgrey;
    padding: 6px 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background:white;
	color: dimgrey;
	font-size: 30px;
	width: 120px;
	height: 40px;
}
#settings>button{
	height: 60px;
	padding: 10px 10px;
	font-size: 30px;
}
#coloradd, #colordel, #colorstrob, #yellowbtn, #reversebtn, #solosnap, #solostrob, #PAR1, #PAR4, solochase{
	width: 80px;
}
#yellowbtn{
	margin-left: 20px;
}
#solochase{
	margin-left: 20px;	
}
#solosnap{
	position: relative;
	top: 2px;
}
select{
    border-radius: 5px;
    /*background:white;*/
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    touch-action: none;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 80px;
}
.command{
	position: absolute;
	right: 20px;
	bottom: 20px
}
.command button{
	height: 80px;
	width: 100px;
}
#presets>button {
    margin: 5px;
}
.inlinecmd{
	position: absolute;
	right: 20px;
}
.macro button{
	height: 80px;
}
.active {
    background-color: grey;
    color: white;
}

.section{
	border: 1px solid lightgrey;
	padding: 6px 6px;
	margin: 4px 2px;
	width: 98%;
}

div{
	display: inline-block;
}
.block div{
	display: block;
}
#colorpicker>div, #colrevpicker>div, #solocolor>div{
	height: 80px;
	width: 80px;
	border: 1px solid lightgrey;
	font-size: 20px;
	margin: 5px;
}
div#revcol{
	height: 65px;
	width: 65px;
	border: 1px solid lightgrey;
	font-size: 20px;
	left-margin: 40px;
	position: absolute;
	top: 24px;
	right: 25px;
}
div#fade{
	position: absolute;
	left: 120px;
	bottom: 23px;	
}
input[type=range] {
  -webkit-appearance: none;
  width: 380px;
  border-radius: 5px;
  vertical-align:middle;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 70px;
  background: white;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background: grey;
  -webkit-appearance: none;
}
.rangelabel {
	position: relative;
	right: 270px;
	color: dimgrey;
	pointer-events: none;
}

.container{
	position: relative;
}
.nmsection{
	font-size: 15px;
	position: relative;
	top: -52px;
	background-color: black;
	padding: 1px 5px;
}
.overlay{
	position: absolute;
	left: 40px;
	top: 125px;
	width: 90%;
	padding: 12px 12px;
	z-index: 10;
	background-color: black;
	display: none;
}
.container>input{
	margin-right: 20px;
	margin-bottom: 10px;
}
.container>label{
	position: absolute;
	white-space: nowrap;
	left: 100px;
	top: 20px;
	color: dimgrey;
	pointer-events: none;
	z-index: 11;
}
#scncfg{
	margin-left: 20px;
}
button#init{
	position: absolute;
	right: 25px;
}
label#speed{
	margin-right: 400px;
}
.wizpicker>div{
	height: 80px;
	width: 80px;
	border: 1px solid lightgrey;
	margin: 5px;
}
#mflabel{
	position:absolute;
	right:40px;
	top:45px;
}