body{
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
	border-radius: 5px;
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    touch-action: none;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 80px;
}
button:click {
    background-color: #4CAF50;
    color: white;
}
select{
    border: 1px solid lightgrey;
    padding: 6px 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background:white;
	color: dimgrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 50px;
}
#color{
    border: 1px solid lightgrey;
    padding: 6px 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background:white;
	color: dimgrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	width: 120px;
	height: 40px;
}
#settings>button{
	height: 50px;
}
.command{
	position: absolute;
	right: 20px;
	bottom: 20px
}
.command button{
	height: 80px;
	/*width: 120px;*/
}
#fixture>button{
	width: 80px;
}
#solostrob, #colorstrob{
	position: absolute;
	right: 20px;
	width: 80px;
}

.macro button{
	height: 80px;
}
.active {
    background-color: grey;
    color: white;
}

.section{
	border: 1px solid lightgrey;
	padding: 6px 6px;
	margin: 4px 2px;
	width: 98%;
}

div{
	display: inline-block;
}
.block div{
	display: block;
}
#colorpicker>div {
	height: 80px;
	width: 80px;
	border: 1px solid lightgrey;
	font-size: 20px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 380px;
  border-radius: 5px;
  vertical-align:middle;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 70px;
  background: white;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background: grey;
  -webkit-appearance: none;
}
.rangelabel {
	position: relative;
	right: 200px;
	color: dimgrey;
	pointer-events: none;
}
#masterdim{
	width: 580px;
}
#masterdimval{
	right: 340px;
}
.newrangelabel {
	position: absolute;
	left: 150px;
	top: 8px;
	color: dimgrey;
	pointer-events: none;
}
.container{
	position: relative;	
}
.nmsection{
	font-size: 15px;
	position: relative;
	top: -52px;
	background-color: black;
	padding: 1px 5px;
}

