body{
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
	border-radius: 5px;
    background-color: white;
    border: 0px;
    color: dimgrey;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    touch-action: manipulation;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
button:click {
    background-color: #4CAF50;
    color: white;
}
#tap, #man{
	height: 80px;
	width: 120px;
	position: absolute;
	right: 20px;
}
#tap {
	top: 110px;
}
#man{
	top: 20px;
}
#snap{
	position: absolute;
	right: 20px;
}
.active {
    background-color: grey;
    color: white;
}
select{
    border: 1px solid lightgrey;
    padding: 6px 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background:white;
	color: dimgrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
.red{
	background:red;
	color: white;
}
.green{
	background:green;
	color: white;
}
.blue{
	background:blue;
	color: white;
}
.violet{
	background:violet;
	color: white;
}
.cyan{
	background:cyan;
	color: white;
}
.yellow{
	background:yellow;
	color: black;
}
.orange{
	background:orange;
	color: black;
}
.white{
	background:white;
	color: black;
}
.black{
	background:black;
	color: white;
}
.section{
	border: 1px solid lightgrey;
	padding: 6px 6px;
	margin: 4px 2px;
	width: 98%;
}
.group{
	border: 0px;
}
div{
	display: inline-block;
} 
input[type=range] {
  -webkit-appearance: none;
  width: 380px;
  border-radius: 5px;
  vertical-align:middle;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 50px;
  background: white;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: grey;
  -webkit-appearance: none;
}
.rangelabel {
	position: relative;
	right: 200px;
	color: dimgrey;
	pointer-events: none;
}
#masterdim{
	width: 580px;
}
#masterdimval{
	right: 340px;
}


